/* Desktop */

.btn-content
{
font-size: 15px!important;
font-weight: normal;
}

 #all-questions-container.step-1 .question-item-container-10 .question-text-inner
{
font-size: 20px!important
}

.store-selector h4
{
font-weight:normal
}