				<div class="page page-current page-landing">
					<div class="strips-container">
	<div class="container-fluid no-gutters">
		<div class="row">
			<div class="col-xs-3">
				<div class="absolute-bg-container yellow">
					<div class="absolute-bg bg-yellow">
						<!-- <img class="product-bg product-bg-bloom" src="assets/images/bloom_bg.png" data-initial-right="-20%" />-->
					</div>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="absolute-bg-container red">
					<div class="absolute-bg bg-red">
						<!-- <img class="product-bg product-bg-glow" src="assets/images/glow_bg.png"  data-initial-right="-20%" />-->
					</div>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="absolute-bg-container blue">
					<div class="absolute-bg bg-blue">
						<!-- <img class="product-bg product-bg-rise" src="assets/images/rise_bg.png"  data-initial-right="-20%" />-->
					</div>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="absolute-bg-container sky">
					<div class="absolute-bg bg-sky">
						<!-- <img class="product-bg product-bg-silk" src="assets/images/silk_bg.png"  data-initial-right="-35%" />-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="page-content full-screen center-vertically">

	<div class="page-content-item">
		<div class="landing-introduction">
			<h1 class="big light text-uppercase">
				it's time to reveal your
				skin's true beauty story
			</h1>

			<p class="lead">
				Discover advanced skincare powered by<br />
				<strong>natural active ingredients</strong>
			</p>
		</div>

		<div class="landing-products">
			<div class="container-fluid no-gutters">
				<div class="row landing-products">
					<div class="col-xs-3">
						<div class="landing-item">
							<img src="assets/images/bloom.png" alt="bloom" class="center-block img-responsive" />
						</div>
					</div>
					<div class="col-xs-3">
						<div class="landing-item">
							<img src="assets/images/glow.png" alt="glow" class="center-block img-responsive" />
						</div>
					</div>
					<div class="col-xs-3">
						<div class="landing-item">
							<img src="assets/images/rise.png" alt="rise" class="center-block img-responsive" />
						</div>
					</div>
					<div class="col-xs-3">
						<div class="landing-item">
							<img src="assets/images/silk.png" alt="silk" class="center-block img-responsive" />
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer class="page-footer">

			<p class="cta-text large light lead">
				<strong>Start your FREE 7-Day skincare trial!</strong><br>
				Simply answer 3 questions to discover the perfect<br />
				Azadi moisturiser for you
			</p>

			<a class="two-lines-button two-lines-button-sm" href="#" data-next="questions">
				<div class="two-lines-button-inner">
					<div class="btn-content" data-hover="Start">
						<div class="btn-text">Start</div>
					</div>
				</div>
			</a>

		</footer>
	</div>

</div>

<div class="legal-links small">
	<ul class="list-inline">
		<li><a href="#" data-toggle="modal" data-target="#modal-terms">Terms and Conditions</a></li>
		<li>Cookie Policy
			<a href="https://azadi-cosmetics.com/privacy" target="_blank">UK</a>
			<a href="https://azadi-cosmetics.com/privacy" target="_blank">Ireland</a>
		</li>
	</ul>
</div>
				</div>
