				<div class="hidden page page-questions light">
					<header class="page-header">
	<!--<svg class="site-logo" id="questions-logo">
		<use xlink:href="#logo"></use>
	</svg>-->

	<h2 class="section-title section-title-1 center-block light text-uppercase">
		<span class="section-title-text">
			Just between us,<br/>
			what is your age group?
		</span>
	</h2>
</header>

<div class="background-video">

</div>

<div class="page-content full-screen center-vertically">
	<div class="page-content-item" id="all-questions-container">

		<div class="questions-container question-grid-container">

			<div class="question-text-container">

				<div class="question-item-container question-item-container-1 question-text animating question-item-1" data-rel="1">
					<a href="#" class="close-icon"></a>
					<div class="question-text-inner"></div>
				</div>


				<div class="question-item-container question-item-container-2 question-text animating question-item-2" data-rel="2">
					<a href="#" class="close-icon"></a>
					<div class="question-text-inner"></div>
				</div>


				<div class="question-item-container question-item-container-3 question-text animating question-item-3" data-rel="3">
					<a href="#" class="close-icon"></a>
					<div class="question-text-inner"></div>
				</div>


				<div class="question-item-container question-item-container-4 question-text animating question-item-4" data-rel="4">
					<a href="#" class="close-icon"></a>
					<div class="question-text-inner"></div>
				</div>


				<div class="question-item-container question-item-container-5 question-text animating question-item-5" data-rel="5">
					<a href="#" class="close-icon"></a>
					<div class="question-text-inner"></div>
				</div>


				<div class="question-item-container question-item-container-6 question-text animating question-item-6" data-rel="6">
					<a href="#" class="close-icon"></a>
					<div class="question-text-inner"></div>
				</div>


				<div class="question-item-container question-item-container-7 question-text animating question-item-7" data-rel="7">
					<a href="#" class="close-icon"></a>
					<div class="question-text-inner"></div>
				</div>


				<div class="question-item-container question-item-container-8 question-text animating question-item-8" data-rel="8">
					<a href="#" class="close-icon"></a>
					<div class="question-text-inner"></div>
				</div>


				<div class="question-item-container question-item-container-9 question-text animating question-item-9" data-rel="9">
					<a href="#" class="close-icon"></a>
					<div class="question-text-inner"></div>
				</div>


				<div class="question-item-container question-item-container-10 question-text animating question-item-10" data-rel="10">
					<a href="#" class="close-icon"></a>
					<div class="question-text-inner"></div>
				</div>


				<div class="question-item-container question-item-container-11 question-text animating question-item-11" data-rel="11">
					<a href="#" class="close-icon"></a>
					<div class="question-text-inner"></div>
				</div>

				<div class="question-item-container question-item-container-12 question-text animating question-item-12" data-rel="12">
					<a href="#" class="close-icon"></a>
					<div class="question-text-inner"></div>
				</div>

			</div>

			<svg version="1.1" id="questions_grid" xmlns="http://www.w3.org/2000/svg"
			     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="906" height="502"
			     viewBox="0 0 401 222.1" enable-background="new 0 0 401 222.1" xml:space="preserve">
			    <g>
				    <polygon class="item question-item-1" id="question-item-1" fill="#FF0000"
				             points="68,35.1 131.5,0 195,35.1 131.5,70.1 "/>
				    <polygon class="item question-item-2" id="question-item-2" fill="#FF0000"
				             points="205,35.1 268.5,0 332,35.1 268.5,70.1 "/>
				    <polygon class="item question-item-3" id="question-item-3" fill="#FF0000"
				             points="0,73.1 63.5,38 127,73.1 63.5,108.1 "/>
				    <polygon class="item question-item-4" id="question-item-4" fill="#FF0000"
				             points="137,73.1 200.5,38 264,73.1 200.5,108.1 "/>
				    <polygon class="item question-item-5" id="question-item-5" fill="#FF0000"
				             points="274,73.1 337.5,38 401,73.1 337.5,108.1 "/>

				    <polygon class="item question-item-6" id="question-item-6" fill="#FF0000"
				             points="68,111.1 131.5,76 195,111.1 131.5,146.1 "/>
				    <polygon class="item question-item-7" id="question-item-7" fill="#FF0000"
				             points="205,111.1 268.5,76 332,111.1 268.5,146.1 "/>

				    <polygon class="item question-item-8" id="question-item-8" fill="#FF0000"
				             points="0,149.1 63.5,114 127,149.1 63.5,184.1 "/>
				    <polygon class="item question-item-9" id="question-item-9" fill="#FF0000"
				             points="137,149.1 200.5,114 264,149.1 200.5,184.1 "/>

				    <polygon class="item question-item-10" id="question-item-10" fill="#FF0000"
				             points="274,149.1 337.5,114 401,149.1 337.5,184.1 "/>
				    <polygon class="item question-item-11" id="question-item-11" fill="#FF0000"
				             points="68,187.1 131.5,152 195,187.1 131.5,222.1 "/>
				    <polygon class="item question-item-12" id="question-item-12" fill="#FF0000"
				             points="205,187.1 268.5,152 332,187.1 268.5,222.1 "/>
			    </g>
			</svg>
		</div>


		<footer class="page-footer">

			<a class="two-lines-button two-lines-button-sm" href="#">
				<div class="two-lines-button-inner">
					<div class="btn-content" data-hover="Next">
						<div class="btn-text">Next</div>
					</div>
				</div>
			</a>

		</footer>

	</div>
</div>
				</div>
