				<div class="hidden page page-voucher">
					<header class="page-header page-header-static bg-yellow">
	<a href="https://azadi-cosmetics.com/" target="_blank">
		<svg class="site-logo text-blue site-logo-sm">
			<use xlink:href="#logo"></use>
		</svg>
	</a>


	<div class="share-this text-uppercase text-blue">
		<div class="pull-right">

			<div class="share-this-item">share the experience</div>

			<div class="share-this-item">
				<a href="#" class="social-link social-link-facebook">
					<svg class="facebook-icon">
						<use xlink:href="#facebook"></use>
					</svg>
				</a>
				<a href="#" class="social-link social-link-twitter">
					<svg class="twitter-icon">
						<use xlink:href="#twitter"></use>
					</svg>
				</a>
			</div>

			<div class="share-this-item last">
				<a href="https://twitter.com/hashtag/MyBeautyStory" class="text-blue" target="_blank">#MyBeautyStory</a>
			</div>

		</div>
	</div>
</header>


<div class="page-content">

	<div class="container">
		<div class="row">

			<div class="col-xs-12">
				<div class="full-screen center-vertically">
					<div class="page-content-item light text-center">

						<div class="voucher-text">

							<div class="section-inline-title section-inline-title-bordered">
								<h1 class="light text-uppercase">thank you <strong id="firstname">caroline</strong></h1>
							</div>

							<div class="how-to-get-product">
								<div class="final-product">

								</div>
								<p class="m-b-20">We have emailed your voucher to you. Simply take this into your nearest boutique at:</p>

								<p class="m-b-20 text-uppercase">
									<span  id="store-address" style="font-weight:600"></span>
									<br />
									to pick up your free pot of: <span id="product-name" style="font-weight:600">Bloom Cream 8ml</span> <span style="font-weight:600">Cream 8ML</span>
								</p>

								<p class="m-b-20" style="font-weight:600"><span class="light">Hurry!</span> Your 7-day trial is only available while stocks last.<br />
									<span class="light">Remember to collect by</span> 2nd November 2015
								</p>

								<p><a href="#" class="print-link text-uppercase" id="print_link" target="_blank">Print this page</a></p>
								<div class="voucher-actions m-b-20"></div>
							</div>
						</div>

						<div class="promotion-offer m-b-20">

							<div class="row">
								<div class="col-sm-4 col-md-6">
									<p class="large light">EXCLUSIVELY FOR YOU!</p>

									<div class="promotion-box">

											<svg class="promotion-box-cut-top-left">
												<use xlink:href="#cut-bg"></use>
											</svg>

											<svg class="promotion-box-cut-top-right">
												<use xlink:href="#cut-bg"></use>
											</svg>

											<svg class="promotion-box-cut-bottom-left">
												<use xlink:href="#cut-bg"></use>
											</svg>

											<svg class="promotion-box-cut-bottom-right">
												<use xlink:href="#cut-bg"></use>
											</svg>

											<div class="promotion-box-title">
												<h1>
													<span class="currency">&pound;</span>
													<span class="amount1">10</span>
													OFF SKINCARE
												</h1>
												<strong>
													WHEN YOU SPEND
													<span class="currency">&pound;</span>
													<span class="amount2">25</span>
													OR MORE*
												</strong>
											</div>

										<div class="promotion-box-text">
											<p>You will receive your exclusive offer on collection of your 7-day trial instore</p>

											<a href="https://azadi-cosmetics.com/terms" target="_blank" class="terms-and-condition-link">*Terms and conditions apply</a>
										</div>
									</div>
								</div>

								<div class="col-sm-8 col-md-6">
									<p class="large light">DISCOVER YOUR FULL ROUTINE</p>

									<div class="owl-carousel product-carousel text-center">

									</div>
								</div>
							</div>
						</div>


						<footer class="page-footer">

							<div class="button-container">
								<a class="two-lines-button" href="https://azadi-cosmetics.com/" target="_blank" id="find-out-more">
									<div class="two-lines-button-inner">
										<div class="btn-content" data-hover="find out more">
											<div class="btn-text">find out more</div>
										</div>
									</div>
								</a>
							</div>

							<div class="landing-introduction landing-introduction-md">
								<p class="note small">
									Need help? Contact our Customer Services team: <a href="mailto:contact@azadi-cosmetics.com">contact@azadi-cosmetics.com</a><br />
									Our Customer Services Advisors are available: Monday – Friday 9.00am-7.00pm (excluding Bank Holidays) and Saturdays 9.00am-4.30pm
								</p>
							</div>

						</footer>

					</div>
				</div>
			</div>


		</div>
	</div>



</div>
				</div>
