	<div id="device-notices">
		<div class="message-item message-item-ipad">
			<div class="message-item-message">
				<img src="assets/images/rotate.png" alt="rotate" />
				<p>
					Please rotate your device to view this website correctly.<br />
					or alternatively <a href="#" class="mobile-link">click here</a> to visit our mobile site.
				</p>
			</div>
		</div>

		<div class="message-item message-item-desktop">
			<div class="message-item-message">
				<img src="assets/images/rotate.png" alt="rotate" />
				<p>
					Please resize your browser to see this website correctly.<br />
					or alternatively <a href="#" class="mobile-link">click here</a> to visit our mobile site.
				</p>
			</div>
		</div>
	</div>
