	<div class="modal fade text-black light" id="modal-terms">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h2 class="modal-title no-margin light text-dark-brown">Terms &amp; Conditions</h2>
				</div>
				<div class="modal-body">
					<p>Free Sample offer valid in the 86 participating UK and Ireland Azadi-owned boutiques only.
					Offer not valid online, at wholesale partners such as department stores, airports or AZADI
					outlet boutiques (Bicester, Portsmouth, Cheshire Oaks) and Trentham Gardens boutique.
					One free sample per customer only. Sign-up for our VIP programme and presentation of an electronic
					or printed voucher is mandatory when collecting a sample. This offer is non-transferable and can
					only be redeemed by the owner of the email account registered. Sample may vary depending on
					stock availability.</p>

					<p>AZADI reserve the right to substitute this sample with an alternative sample.</p>

					<p>Offer available to UK and Ireland residents of at least 18 years of age only,
						valid until 2nd November 2015 or while stocks last, whichever is earlier.
						To redeem the offer, valid email invite must be presented to boutique staff.
						AZADI does not accept responsibility for network, computer, hardware or software
						failures of any kind, which may restrict or delay the sending or receipt of your voucher.
						Any person found to be redeeming more than once by registering with multiple
						email accounts will be deemed ineligible. Offer not open to AZADI staff.
						AZADI reserves the right to withdraw or change any part of
						this offer at any time.</p>
				</div>
			</div>
		</div>
	</div>
