/* ==========================================================================
   BUTTONS
   ========================================================================== */

button,input {
  color:inherit;
  font:inherit;
  margin:0;
}

button {
  overflow:visible;
}

button {
  text-transform:none;
}

button,html input[type=button],input[type=submit] {
  cursor:pointer;
}

button[disabled],html input[disabled] {
  cursor:default;
}

button::-moz-focus-inner,input::-moz-focus-inner {
  border:0;
  padding:0;
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
  height:auto;
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
  -webkit-appearance:none;
}

button,input {
  font-family:inherit;
  font-size:inherit;
  line-height:inherit;
}

[role=button] {
  cursor:pointer;
}

.btn-content {
  font-weight:100;
}

.two-lines-button {
  display:inline-block;
  text-align:center;
  position:relative;
  padding:10px;
  max-width:250px;
  width:100%;
  overflow:hidden;
}

.two-lines-button:after,.two-lines-button:before {
  content:" ";
  position:absolute;
  width:100%;
  height:1px;
  background-color:#fff;
  transition:.6s cubic-bezier(0,0,.58,1) left,.6s cubic-bezier(0,0,.58,1) right;
}

.two-lines-button:before {
  left:-50px;
  top:5px;
}

.two-lines-button:after {
  right:-50px;
  bottom:5px;
}

.two-lines-button-sm {
  max-width:190px;
}

.two-lines-button-lg {
  max-width:100%;
}

.two-lines-button.hover:before,.two-lines-button:hover:before {
  top:5px;
  left:0;
}

.two-lines-button.hover:after,.two-lines-button:hover:after {
  right:0;
  bottom:5px;
}

.two-lines-button.hover .two-lines-button-inner:before,.two-lines-button:hover .two-lines-button-inner:before {
  top:0;
  left:4px;
}

.two-lines-button.hover .two-lines-button-inner:after,.two-lines-button:hover .two-lines-button-inner:after {
  bottom:0;
  right:4px;
}

.two-lines-button.hover .btn-content .btn-text,.two-lines-button:hover .btn-content .btn-text {
  transform:translate(0,-40px);
}

.two-lines-button.hover .btn-content:before,.two-lines-button:hover .btn-content:before {
  top:0;
}

.two-lines-button-inner {
  background:0 0;
  border:none;
  box-shadow:none;
}

.two-lines-button-inner:after,.two-lines-button-inner:before {
  content:"";
  position:absolute;
  height:100%;
  width:1px;
  background-color:#fff;
  transition:.6s cubic-bezier(0,0,.58,1) top,.6s cubic-bezier(0,0,.58,1) bottom;
}

.two-lines-button-inner:before {
  top:-27.78px;
  left:4px;
}

.two-lines-button-inner:after {
  bottom:-27.78px;
  right:4px;
}

.btn-content {
  font-size:18px;
  letter-spacing:.2em;
  background-color:#fff;
  color:#000;
  border:4px solid #fff;
  text-transform:uppercase;
  padding:6px;
  position:relative;
  overflow:hidden;
}

.btn-content .btn-text {
  transform:translate(0,0);
  transition:transform .3s ease-out;
}

.btn-content:before {
  background:#DED6CE;
  content:attr(data-hover);
  position:absolute;
  top:60px;
  left:0;
  width:100%;
  height:100%;
  line-height:33px;
  transition:.3s ease-in-out top;
}

.two-lines-button.dark .two-lines-button-inner:after,.two-lines-button.dark .two-lines-button-inner:before,.two-lines-button.dark:after,.two-lines-button.dark:before {
  background:#4e362d;
}

.two-lines-button.dark .btn-content {
  border-color:#4e362d;
  background:#4e362d;
  color:#fff;
}

.two-lines-button.dark .btn-content:before {
  background:#fff;
  color:#4e362d;
}

.two-lines-button.disabled {
  opacity:.3;
}

.two-lines-button.disabled.hover:before,.two-lines-button.disabled:hover:before {
  left:-50px;
  top:5px;
}

.two-lines-button.disabled.hover:after,.two-lines-button.disabled:hover:after {
  right:-50px;
  bottom:5px;
}

.two-lines-button.disabled.hover .two-lines-button-inner:before,.two-lines-button.disabled:hover .two-lines-button-inner:before {
  top:-27.78px;
  left:4px;
}

.two-lines-button.disabled.hover .two-lines-button-inner:after,.two-lines-button.disabled:hover .two-lines-button-inner:after {
  bottom:-27.78px;
  right:4px;
}

.two-lines-button.disabled.hover .btn-content .btn-text,.two-lines-button.disabled:hover .btn-content .btn-text {
  transform:translate(0,0);
}

.two-lines-button.disabled.hover .btn-content:before,.two-lines-button.disabled:hover .btn-content:before {
  display:none;
}

.button-container {
  margin:16px 0 8px;
}

.next-icon,.prev-icon {
  width:8px;
  height:16px;
  color:#fff;
}
