/* grid.css */

.container {
  margin-right:auto;
  margin-left:auto;
}

.container {
  padding-left:15px;
  padding-right:15px;
}

@media (min-width:768px) {
  .container {
    width:750px;
  }
}

@media (min-width:992px) {
  .container {
    width:970px;
  }
}

@media (min-width:1200px) {
  .container {
    width:1170px;
  }
}

.row {
  margin-left:-15px;
  margin-right:-15px;
}

.col-xs-12,.col-xs-5,.col-xs-7 {
  position:relative;
  min-height:1px;
  padding-left:15px;
  padding-right:15px;
}

.col-xs-12 {
  width:100%;
}

.col-xs-7 {
  width:58.33333333%;
}

.col-xs-5 {
  width:41.66666667%;
}
