<div class="hidden page page-landing" id="page-landing">
	<div class="page-content">
		<div class="main-logo-container">
				<svg class="site-logo">
					<use xlink:href="#logo"></use>
				</svg>
		</div>

		<div class="landing-introduction">
			<h3 class="light text-white text-uppercase landing-heading">
				it's time to reveal your
				skin's true beauty story
			</h3>
		</div>

		<footer class="landing-next">

			<p class="cta-text large light lead">
				<strong>Start your FREE 7-Day skincare trial!</strong><br>
				Simply answer 3 questions to discover the perfect
				Azadi moisturiser for you
			</p>

			<a class="two-lines-button two-lines-button-sm next-question" href="#" data-rel="show-age">
				<div class="two-lines-button-inner">
					<div class="btn-content" data-hover="Start">
						<div class="btn-text">Start</div>
					</div>
				</div>
			</a>

		</footer>

		<div class="landing-products">
			<div class="landing-item bg-yellow">
				<div class="landing-image">
					<img src="assets/images/bloom.png" alt="bloom" class="center-block img-responsive" />
				</div>
			</div>
			<div class="landing-item bg-sky">
				<div class="landing-image">
					<img src="assets/images/silk.png" alt="silk"  class="center-block img-responsive" />
				</div>
			</div>
			<div class="landing-item bg-red">
				<div class="landing-image">
					<img src="assets/images/glow.png" alt="glow" class="center-block img-responsive" />
				</div>
			</div>
			<div class="landing-item bg-blue">
				<div class="landing-image">
					<img src="assets/images/rise.png" alt="rise" class="center-block img-responsive" />
				</div>
			</div>
		</div>

		<div class="legal-links small">
			<ul class="list-inline">
				<li><a href="#" data-toggle="modal" data-target="#modal-terms">Terms and Conditions</a></li>
				<li>Cookie Policy
					<a href="https://azadi-cosmetics.com/privacy" target="_blank">UK</a>
					<a href="https://azadi-cosmetics.com/privacy" target="_blank">Ireland</a>
				</li>

			</ul>
		</div>
	</div>
</div>
