<div class="hidden page page-questions" id="page-questions-concern">
	<div class="page-content">
		<div class="normal-page">
	<header class="page-header">

		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="h2 section-title section-title-3 center-block light">
						<div class="section-title-text">
							What are your 2<br />
							main skin concerns?
						</div>

						<div class="indicator">
							<div class="ind-col ind-col-active"></div>
							<div class="ind-col ind-col-active"></div>
							<div class="ind-col ind-col-active"></div>
							<div class="ind-col "></div>
							<div class="ind-col "></div>
						</div>
					</div>

				</div>
			</div>
		</div>

	</header>

	<div class="questions-container">
		<ul class="questions">

		</ul>
	</div>
</div>

<footer class="page-footer disabled">

	<a class="two-lines-button two-lines-button-sm disabled next-question" data-rel="show-results" href="#">
		<div class="two-lines-button-inner">
			<div class="btn-content" data-hover="Next">
				<div class="btn-text">Next</div>
			</div>
		</div>
	</a>

</footer>
	</div>
</div>
