<div class="hidden page page-voucher" id="page-questions-voucher">
	<div class="page-content">
		<header class="page-header page-header-static bg-yellow">

	<div class="results-container">
		<div class="inner-logo-container">
			<a href="https://azadi-cosmetics.com/" target="_blank">
				<svg class="site-logo text-blue">
					<use xlink:href="#logo"></use>
				</svg>
			</a>
		</div>

		<div class="share-this text-uppercase text-blue">
			<div class="pull-right">

				<div class="share-this-item">
					<a href="#" class="social-link social-link-facebook">
						<svg class="facebook-icon">
							<use xlink:href="#facebook"></use>
						</svg>
					</a>
					<a href="#" class="social-link social-link-twitter">
						<svg class="twitter-icon">
							<use xlink:href="#twitter"></use>
						</svg>
					</a>
				</div>

				<div class="share-this-item last">
					<a href="https://twitter.com/hashtag/MyBeautyStory" class="text-blue" target="_blank">#MyBeautyStory</a>
				</div>

			</div>
		</div>
	</div>

</header>

<div class="page-content">

	<div class="results-container">

		<h1 class="voucher-item section-main light text-center">
			THANK YOU!
			<strong id="firstname" class="text-uppercase">caroline</strong>
		</h1>

		<h2 class="voucher-item how-to-get-product light">
			We have emailed your voucher to you.
			Simply take this into your nearest boutique at:<br /><br />

			<span  id="store-address" style="font-weight:600"><strong>177 Cannon Street, London, Ec4n 5ax </strong></span>
			to pick up your free pot of: <span id="product-name" style="font-weight:600">Bloom Cream 8ml</span> <span style="font-weight:600">Cream 8ML</span><br /><br />



			Hurry! <strong>Your 7-day trial is only
			available while stocks last.</strong>
			Remember to collect by <strong>2nd November 2015</strong>

		</h2>

		<div class="voucher-item  promotion-offer h2">

			<div class="promotion-box light">

				<svg class="promotion-box-cut-top-left">
					<use xlink:href="#cut-bg"></use>
				</svg>

				<svg class="promotion-box-cut-top-right">
					<use xlink:href="#cut-bg"></use>
				</svg>

				<svg class="promotion-box-cut-bottom-left">
					<use xlink:href="#cut-bg"></use>
				</svg>

				<svg class="promotion-box-cut-bottom-right">
					<use xlink:href="#cut-bg"></use>
				</svg>

				<div class="promotion-box-title">
					<p class="">EXCLUSIVELY FOR YOU!</p>
					<h1 class="heavy">
						<span class="currency">&pound;</span><span class="amount1">10</span>
						OFF SKINCARE
					</h1>
					<p class="">
						WHEN YOU SPEND
						<span class="currency">&pound;</span><span class="amount2">25</span>
						OR MORE*
					</p>
				</div>

				<div class="promotion-box-text">
					<p>You will receive your exclusive offer on collection of your 7-day trial instore</p>

					<a href="https://azadi-cosmetics.com/terms" target="_blank" class="terms-and-condition-link">*Terms and conditions apply</a>
				</div>
			</div>

		</div>

		<div class="voucher-inner-container">
			<div class="voucher-item">
				<p class="h3 light text-center">DISCOVER YOUR<br /> FULL ROUTINE</p>

				<div class="owl-carousel product-carousel">

				</div>
			</div>

			<div class="voucher-item button-external">

				<a class="two-lines-button" href="https://azadi-cosmetics.com/" target="_blank" id="find-out-more">
					<div class="two-lines-button-inner">
						<div class="btn-content" data-hover="find out more">
							<div class="btn-text">find out more</div>
						</div>
					</div>
				</a>

			</div>
		</div>

		<div class="voucher-item help h2">
			<p class="note text-center">
				Need help? Contact our Customer Services team: <a href="mailto:contact@azadi-cosmetics.com">contact@azadi-cosmetics.com</a>
				Our Customer Services Advisors are available: Monday – Friday 9.00am-7.00pm (excluding Bank Holidays) and Saturdays 9.00am-4.30pm
			</p>
		</div>

	</div>
</div>
	</div>
</div>
